<md-content layout="row" layout-wrap >
 <div flex="33" flex-xs="50" flex-gt-sm="25" ng-repeat="pokemon in list.pokemons">
 	<md-card flex>
  <img ng-src="https://img.pokemondb.net/sprites/omega-ruby-alpha-sapphire/dex/normal/{{pokemon.name | lowercase}}.png" class="md-card-image">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{pokemon.name | camelcase | nidoran}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="space-between center">
    <span>
      {{pokemon.candy}} Candies
    </span>
    <md-button class="md-icon-button" aria-label="Favorite" ng-click="list.isFav()">
	    <md-icon ng-style="{color: list.favColor}">favorite</md-icon>
	  </md-button>
  </md-card-actions>
</md-card>
 </div>
</md-content>